@use '../helpers' as *;

.home {
  background-image: url('../images/main-photo.png');  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  &__inner{
    @include mobile {
        display: none;
    }
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(230px, 420px) 1fr;
    grid-column-gap: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: rem(60);
    @include tablet{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: rem(720);
        row-gap: rem(10);
        padding-bottom: rem(320);
    }
    @include mobile{
        padding-bottom: rem(300);
        max-width: rem(360);
    }
    @include mobile-s{
        padding-bottom: rem(100);
        max-width: rem(320);
    }
    
    // padding-top: rem(140);
    // display: flex;
    // gap:rem(62);
    //     // position: relative;
    // // z-index: 10;
    // max-width: 1024px;
    // margin: 0 auto;
    &_left{
        display: flex;
        flex-direction: column;
        max-width: rem(450);
        align-items: center;
        gap: rem(60);
        @include tablet {
            display: flex;
            align-items: center;
            gap: rem(0);
            img{
                display: none;
            }
        }
        button{
            background-color: #FFCC49;
            padding: 12px 64px;
            border-radius: rem(12);
            max-width: rem(500);
            transition: all 0.2s;
        }
        button:hover{
            background-color: #efb31b;
        }
    }
    &_right{
        padding-bottom: rem(180);
        @include mobile {
            padding-bottom: rem(60);
        }
        &_title{
            h1{
                @include mobile{
                font-size: rem(24);
            }
            }
        }
        &_info{
            color: #BDBDBD;
            @include mobile{
                font-size: 16px;
            }
        }
    }
  }
}